/*For All Pages*/

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/BackgroundImage.jpg");
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0px 2px 3px -2px rgb(176, 38, 116);
    z-index: 5;
}

.navbar-items,
.skills-list {
    list-style: none;
}

.navbar-items li,
.skills-list li {
    display: inline-block;
}

.navbar-items li a {
    text-decoration: none;
}

.navbar-items li a:link {
    color: rgb(0, 0, 0);
}

.navbar-items li a:visited {
    color: rgb(0, 0, 0);
}

.navbar-items li a:hover {
    color: rgb(176, 38, 116);
}


/*For The Home Page*/

.main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
  }

#profilepic {
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 3px 3px rgba(176, 38, 116, 0.6);
    border-width: 5px;
}

.details {
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

.icons {
    flex-direction: row-reverse;
    margin-top: 10px;
}

.fa-linkedin,
.fa-github {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-decoration: none;
    color: rgb(176, 38, 116);
}


/*For The "About Me" Page*/

.main-content-about-me {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
  }

  .page-title,
  .intro-content-rectangle,
  .learning-content-rectangle {
      display: flex;
      width: 90%;
      align-self: center;
  }

  .page-title {
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

.intro-content-rectangle {
    position: relative;
    flex-direction: column;
    background: rgba(176, 38, 116, 0.9);
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(238, 235, 234, 0.6);
    margin-top: 30px;
}

.intro-content-rectangle h2,
.learning-content-rectangle h2 {
    padding-left: 10px;
}

.intro-content-rectangle p,
.intro-content-rectangle h2 {
    color: rgb(238, 235, 234);
}

.learning-content-rectangle {
    position: relative;
    flex-direction: column;
    background: rgba(238, 235, 234, 0.9);
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(176, 38, 116, 0.6);
    margin-top: 15px;
}

.skills-content-rectangle {
    background: rgba(238, 235, 234, 0.9);
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(176, 38, 116, 0.6);
    margin-top: 15px;
}

.skills-content-rectangle li:hover {
   color: rgb(176, 38, 116);
}



/*Media Queries For Responsive Design*/

@media screen and (max-width: 320px) {

    .body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.4em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 250px;
        width: 250px;
    }

    h1 {
        font-size: 1.6em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }
    
    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.1em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.1em;
    }
    
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    .body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.4em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 250px;
        width: 250px;
    }

    h1 {
        font-size: 1.6em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }
    
    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.1em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.1em;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.4em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 250px;
        width: 250px;
    }

    h1 {
        font-size: 1.8em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }
    
    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.1em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.1em;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.5em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 270px;
        width: 270px;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }

    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.2em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.2em;
    }
    
}

@media screen and (min-width: 1201px) {

    .body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.5em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 300px;
        width: 300px;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }

    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.2em;
    }

    .skills-list li {
        padding: 6px;
        font-size: 1.2em;
    }
}