/*For All Pages*/

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body,
.project-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/BackgroundImage.jpg");
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0px 2px 3px -2px rgb(176, 38, 116);
    z-index: 5;
}

.navbar-items,
.skills-list {
    list-style: none;
}

.navbar-items li,
.skills-list li {
    display: inline-block;
}

.navbar-items li a {
    text-decoration: none;
}

.navbar-items li a:link {
    color: rgb(0, 0, 0);
}

.navbar-items li a:visited {
    color: rgb(0, 0, 0);
}

.navbar-items li a:hover {
    color: rgb(176, 38, 116);
}


/*For The Home Page*/

.main-content,
.main-content-about-me {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
  }

#profilepic {
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 3px 3px rgba(176, 38, 116, 0.6);
    border-width: 5px;
}

.details {
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

.icons {
    flex-direction: row-reverse;
    margin-top: 10px;
}

.fa-linkedin,
.fa-github,
.fa-earlybirds {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-decoration: none;
    color: rgb(176, 38, 116);
}


/*For The "About Me" Page*/

  .page-title,
  .intro-content-rectangle,
  .learning-content-rectangle {
      display: flex;
      width: 90%;
      align-self: center;
  }

  .page-title {
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

.intro-content-rectangle {
    position: relative;
    flex-direction: column;
    background: rgba(176, 38, 116, 0.9);
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(238, 235, 234, 0.6);
    margin-top: 30px;
}

.intro-content-rectangle h2,
.learning-content-rectangle h2 {
    padding-left: 10px;
}

.intro-content-rectangle p,
.intro-content-rectangle h2 {
    color: rgb(238, 235, 234);
}

.learning-content-rectangle {
    position: relative;
    flex-direction: column;
    background: rgba(238, 235, 234, 0.9);
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(176, 38, 116, 0.6);
    margin-top: 15px;
}

.skills-content-rectangle {
    background: rgba(238, 235, 234, 0.9);
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(176, 38, 116, 0.6);
    margin-top: 15px;
}

.skills-content-rectangle li:hover {
   color: rgb(176, 38, 116);
}


/*For The Project Navigation Page*/

.project-menu {
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
}

.project-menu a {
    text-decoration: none;
    font-weight: 700;
}

.project-menu img {
    display: block; 
}

.logo-title {
    display: inline-block;
    padding: 30px;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

.project-menu a:link {
    color: rgb(0, 0, 0);
}

.project-menu a:visited {
    color: rgb(0, 0, 0);
}

.project-menu a:hover {
    color: rgb(176, 38, 116);
}


/*For Tab Functionality On Each Project Page*/

.tab-section {
    background-color: rgba(238, 235, 234, 0.9);
    height: 100%;
    border-radius: 25px;
    padding: 5px 20px 20px 20px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab.active {
    color: rgb(176, 38, 116);
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 2px solid rgb(176, 38, 116);
    padding-top: 40px;
    padding-bottom: 5px;
}

.tab {
    cursor: pointer;
    font-weight: 700;
}

.tab-content {
    margin-top: 30px;
}

.tab-content h1 {
    margin-top: 10px;
    text-decoration: underline;
}

#codingjournal,
#bandpage,
#dicegame,
#calculator,
#forkify {
    display: flex;
    flex-direction: column;
}

#journalimg,
#bandpageimg,
#dicegameimg,
#forkifyimg {
    cursor: pointer;
    transition: 0.3s;
}

#journalimg:hover,
#bandpageimg:hover {
    opacity: 0.7;
}

#bandpageimg {
    border: 1px solid black;
}


/*Media Queries For Responsive Design*/

@media screen and (max-width: 320px) {

    .body,
    .project-body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.4em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 250px;
        width: 250px;
    }

    h1 {
        font-size: 1.6em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }
    
    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.1em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.1em;
    }

    .project-menu {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .project-menu img {
        padding: 0px 60px;
        height: 230px;
    }

    .logo-title {
        font-size: 1.4em;
        padding-top: 10px;
    }

    .tab-section {
        width: 85%;
    }
    
    .tab-content h1 {
        font-size: 1.4em;
    }

    .tab-content p {
        padding: 30px 0px;
    }
    
    .tab {
        font-size: 1.4em;
    }

    #journalimg,
    #bandpageimg,
    #dicegameimg,
    #forkifyimg {
        width: 100%;
        height: auto;
    }

    #journalimg,
    #bandpageimg {
        margin-top: 0px; 
    }
    
    #dicegameimg,
    #forkifyimg {
        margin-top: 20px;
    }

    #budgetyvideo {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    .body,
    .project-body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.4em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 250px;
        width: 250px;
    }

    h1 {
        font-size: 1.6em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }
    
    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.1em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.1em;
    }

    .project-menu {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .project-menu img {
        padding: 0px 60px;
        height: 230px;
    }

    .logo-title {
        font-size: 1.4em;
        padding-top: 10px;
    }

    .tab-section {
        width: 85%;
    }
    
    .tab-content h1 {
        font-size: 1.4em;
    }

    .tab-content p {
        padding: 30px 0px;
    }
    
    .tab {
        font-size: 1.4em;
    }

    #journalimg,
    #bandpageimg,
    #dicegameimg,
    #forkifyimg {
        width: 100%;
        height: auto;
    }

    #journalimg,
    #bandpageimg {
        margin-top: 0px; 
    }
    
    #dicegameimg,
    #forkifyimg {
        margin-top: 20px;
    }

    #budgetyvideo {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .body,
    .project-body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.4em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 250px;
        width: 250px;
    }

    h1 {
        font-size: 1.8em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }
    
    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.1em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.1em;
    }

    .project-menu {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .project-menu img {
        padding: 0px 60px;
        height: 230px;
    }

    .logo-title {
        font-size: 1.6em;
        padding-top: 10px;
    }

    .tab-section {
        width: 85%;
    }
    
    .tab-content h1 {
        font-size: 1.5em;
    }

    .tab-content p {
        padding: 30px 0px;
    }
    
    .tab {
        font-size: 1.5em;
    }

    #journalimg,
    #bandpageimg {
        margin-top: 0px; 
    }
    
    #dicegameimg,
    #forkifyimg {
        margin-top: 20px;
    }

    #journalimg {
        height: 350px;
        width: 550px;
    }

    #bandpageimg {
        width: 550px;
        height: 450px;
    }

    #dicegameimg {
        height: 370px;
        width: 570px;
    }

    #forkifyimg {
        height: 470px;
        width: 570px;
    }

    #budgetyvideo {
        height: 370px;
        width: 570px;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .body,
    .project-body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.5em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 270px;
        width: 270px;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }

    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.2em;
    }

    .skills-list li {
        padding: 5px;
        font-size: 1.2em;
    }

    .project-menu {
        margin-top: 150px;
    }

    .project-menu img {
        padding: 0px 60px;
        height: 230px;
    }

    .logo-title {
        font-size: 1.6em;
    }

    .tab-section {
        width: 75%;
    }
    
    .tab-content h1 {
        font-size: 1.6em;
    }

    .tab-content p {
        padding: 30px 20px;
    }
    
    .tab {
        font-size: 1.6em;
    }

    #journalimg,
    #bandpageimg,
    #dicegameimg,
    #forkifyimg {
        margin-top: 20px;
        margin-left: 20px;
    }

    #journalimg {
        height: 400px;
        width: 600px;
    }

    #bandpageimg {
        width: 600px;
        height: 500px;
    }

    #dicegameimg {
        height: 400px;
        width: 600px;
    }

    #forkifyimg {
        height: 450px;
        width: 550px;
    }

    #budgetyvideo {
        margin-left: 20px;
        height: 400px;
        width: 600px;
    }
    
}

@media screen and (min-width: 1201px) {

    .body,
    .project-body {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .navbar {
        align-items: flex-start;
        align-self: flex-start;
        justify-content: flex-start;
        height: 60px;
    }

    .navbar-items {
        padding: 15px 30px;
    }

    .navbar-items a {
        font-size: 1.5em;
        padding: 20px;
    }

    .main-content {
        padding: 20px;
        align-items: center;
    }

    #profilepic {
        height: 300px;
        width: 300px;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    .fa-linkedin,
    .fa-github {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin: 10px;
    }

    .intro-content-rectangle,
    .learning-content-rectangle,
    .skills-content-rectangle {
        padding: 10px;
    }

    
    .intro-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .intro-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .learning-content-rectangle {
        margin-bottom: 40px;
    }

    .learning-content-rectangle h2{
        font-size: 1.05em;
        text-decoration: underline;
    }

    .learning-content-rectangle p{
        font-size: 1.05em;
        padding: 10px;
        text-decoration: none;
    }

    .skills-content-rectangle {
        align-self: center;
        width: 90%;
    }

    .skills-content-rectangle h2{
        padding-left: 5px;
        font-size: 1.2em;
    }

    .skills-list li {
        padding: 6px;
        font-size: 1.2em;
    }

    .project-menu {
        margin-top: 150px;
    }

    .project-menu img {
        padding: 0px 60px;
        height: 260px;
    }

    .logo-title {
        font-size: 1.8em;
    }

    .tab-section {
        width: 70%;
    }
    
    .tab-content h1 {
        font-size: 1.7em;
    }

    .tab-content p {
        padding: 30px 20px;
    }
    
    .tab {
        font-size: 1.6em;
    }

    #journalimg,
    #bandpageimg,
    #dicegameimg,
    #forkifyimg {
        margin-top: 20px;
        margin-left: 20px;
    }

    #journalimg {
        height: 400px;
        width: 600px;
    }

    #bandpageimg {
        width: 600px;
        height: 500px;
    }

    #dicegameimg {
        height: 400px;
        width: 600px;
    }

    #forkifyimg {
        height: 450px;
        width: 550px;
    }

    #budgetyvideo {
        margin-left: 20px;
    }
}